@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
}

html {
	font-size: 100.01%;
}

/* Layout-Bereiche */

div#header {
	/*display:block;*/
	padding:0.75em 0.5em 0.5em 0.5em;
	border-bottom:0.5em solid rgb(0, 82, 77);
	-webkit-box-shadow:0 0.5em 1.125em rgb(0, 82, 77);
    -moz-box-shadow:0 0.5em 1.125em rgb(0, 82, 77);
}

div#sidebar {
	display:block;
	float:left;
	width:14.5%;
	border-right:0.125em dotted rgb(221, 221, 221);
	margin-top:1.5em;
}

div#content {
	display:block;
	/*float:left;*/
	padding:2em;
	margin-left:14.6%;
}

div#footer {
	clear:both;
	text-align:right;
	background-color:rgb(232, 232, 232);
	position:absolute;
	bottom:0;
	width:100%;
}

/* Header */



/* Sidebar */

div#sidebar ul {
	margin:0.5em;
}

/* Main */

div.login {
	display:block;
	float:left;
	width:50%;
}

div.aktuelles {
	display:block;
	width:50%;
}

h2, h3 {
	font-size:2em;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: normal;
	font-weight: normal;
	line-height: 130%;
	margin:0 0 0.5em 0;
}

h3 {
	font-size:1.3em;
}

p {
	font-size:0.9em;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 140%;
	margin: 0 0 1em 0;
}

/* Footer */

div#footer ul {
	list-style-type:none;
	margin:0.25em 0.5em;
}

div#footer ul li {
	display:inline;
}

/* sonstiges */

.offscreen {
	position:absolute;
	margin-left:-999em;
}