* {
	margin:0;
	padding:0;
}

html, body {
	font-family:Verdana,sans-serif;
	background-color:#f4e9d8;
}

div#page {
	margin:1.5em auto;
	width:90%;
	padding:0%;
	background-color:#ffffff;
	border-radius:1.5em;
	-moz-border-radius:1.5em;
}

/* Kopfbereich */

div#header {
	width:100%;
	background-color:#ffffff;
	color:white;
	border-radius:1.5em 1.5em 0em 0em;
	-moz-border-radius:1.5em 1.5em 0em 0em;
	margin:0;
}

#header h1 {
	padding:1.5em 0.5em 1em 1.0em;
	font-family:"Trebuchet MS",sans-serif;
	font-size:2em;
	font-style:italic;
	color:#7d5024;
}

/* Menüleiste */

ul#navi {
	margin:0 0 0 1em;
	width:90%;
	/*height:5%;
	background-color:#7d5024;*/
	list-style-type:none;
	/*position:absolute;*/
}

#navi li a {
	display:block;
	width:100%;
	height:100%;
	text-decoration:none;
	color:#7d5024;
}

#navi li.level1 {
	width:12%;
	padding:0.5em 2em;
	margin-right:1em;
	background-color:#f4e9d8;
	/*border:0.1em solid #7d5024;*/
	color:#7d5024;
	border-radius:1em 1em 0em 0em;
	-moz-border-radius:1em 1em 0em 0em;
	float:left;
}

#navi li.level1:hover, #navi li.level1_active {
	background-color:#7d5024;
}

#navi li.level1:hover a, #navi li.level1_active a {
	color:#f4e9d8;
}

#navi ul.submenu {
	list-style-type:none;
	padding:0.6% 3%;
	display:none;
	z-index:5;
	border-radius:0em 0em 1em 1em;
	-moz-border-radius:0em 0em 1em 1em;
	position:absolute;
	background-color:#7d5024;
	margin-left:-2em;
	margin-top:0.5em;
	padding-top:1em;
}

#navi ul.submenu li.level2 {
	margin-bottom:5%;
	z-index:10;
}

#navi ul.submenu li.level2 a {
	color:#f4e9d8;
}

#navi ul.submenu li.level2:hover, #navi ul.submenu li.level2_active {
	z-index:10;
}

#navi ul.submenu li.level2:hover a, #navi ul.submenu li.level2_active a {
	font-weight:bold;
	color:#f4e9d8;
	z-index:10;
}

/* vertikales Submenü */

ul#subnavi {
	width:20%;
	padding:2%;
	float:left;
	height:75%;
	margin-top:0em;
	background-color:#EFE9E0;
	list-style-type:none;
	z-index:1;
	border-radius:0em 0em 1em 0em;
	-moz-border-radius:0em 0em 1em 0em;
}

ul#subnavi li {
	margin-bottom:1em;
}

ul#subnavi a:link {
	color:#7d5024;
	text-decoration:underline;
}

ul#subnavi a:visited {
	color:#000000;
	text-decoration:underline;
}

ul#subnavi a:hover {
	text-decoration:none;
	color:#7d5024;
}

/* Breadcrumbs-Navigation */

ul#breadcrumbs {
	list-style-type:none;
	background-color:#af8554;
	background-color:#7d5024;
	padding:0.3em 1em 0.3em 2em;
	color:#ffffff;
	clear:both;
	/*margin-top:2.4em;*/
}

ul#breadcrumbs li {
	display:inline;
}

ul#breadcrumbs li:after {
	content:" / ";
}

ul#breadcrumbs li.current {
	font-weight:bold;
	font-style:italic;
}

ul#breadcrumbs li.current:after {
	content:"";
}

ul#breadcrumbs li a:link {
	color:#ffffff;
	text-decoration:underline;
}

ul#breadcrumbs li a:visited {
	color:#ffffff;
	text-decoration:underline;
}

ul#breadcrumbs li a:hover {
	color:#ffffff;
	text-decoration:none;
}

ul#breadcrumbs li.current a:link {
	color:#ffffff;
	text-decoration:none;
}

ul#breadcrumbs li.current a:visited {
	color:#ffffff;
	text-decoration:none;
}

ul#breadcrumbs li.current a:hover {
	color:#ffffff;
	text-decoration:underline;
}

/* Content-Bereich */

div#content {
	width:75%;
	height:75%;
	padding:2%;
	margin-left:25%;
	margin-top:2em;
	z-index:1;
}

/* Standard-Formatierungen */

p {
	margin-bottom:2em;
	margin-right:4em;
	margin-left:2em;
	line-height:150%;
}

h2 {
	/*border-bottom:2px dashed #a0a0a0;*/
	color:#7d5024;
	font-size:1.7em;
	margin-bottom:1em;
}

fieldset {
	padding:1.5em;
	margin-bottom:2em;
	margin-right:4em;
	margin-left:2em;
}

fieldset label {
	float:left;
	clear:both;
	margin-bottom:1em;
	width:30%;
}

fieldset input {
	float:right;
	width:45%;
	/*margin-right:4em;*/
	border:0.1em solid #000000;
}

fieldset input[type="submit"] {
	width:auto;
	clear:both;
	/*float:left;*/
	text-align:center;
	margin-top:1em;
	padding:0.3em 0.5em;
}

table {
	margin-bottom:2em;
	margin-right:4em;
	margin-left:2em;
	border:0.1em solid #000000;
}

table caption {
	text-align:left;
	color:#7d5024;
	margin:0em;
	margin-bottom:1em;
	font-style:italic;
	font-weight:bold;
}

table td {
	padding:0.3em 0.5em;
}

table th {
	padding:0.5em;
	font-weight:bold;
	text-align:left;
	background-color:#7d5024;
	color:#ffffff;
}

table#zutatenliste {
	float:right;
}

/* Formatierung für Offscreen-Inhalt */

.offscreen {
	position:absolute;
	margin-left:-999em;
}