* {
	margin:0;
	padding:0;
}

html, body {
	font-family:Verdana,sans-serif;
	background-color:#f4e9d8;
}

div#page {
	margin:1.5em auto;
	width:90%;
	padding:0%;
	background-color:#ffffff;
	border-radius:1.5em;
	-moz-border-radius:1.5em;
}

div#header {
	width:100%;
	background-color:#ffffff;
	color:white;
	border-radius:1.5em 1.5em 0em 0em;
	-moz-border-radius:1.5em 1.5em 0em 0em;
	margin:0;
}

#header h1 {
	padding:1.5em 0.5em 1em 1.0em;
	font-family:"Trebuchet MS",sans-serif;
	font-size:2em;
	font-style:italic;
	color:#7d5024;
}

ul#navi {
	margin:0 0 0 1em;
	width:90%;
	height:2em;
	/*height:5%;
	background-color:#7d5024;*/
	list-style-type:none;
	position:absolute;
}

#navi li.level1 {
	width:15%;
	padding:0.5em 2em;
	margin-right:1em;
	background-color:#f4e9d8;
	border:0.1em solid #7d5024;
	color:#7d5024;
	border-radius:1em 1em 0em 0em;
	-moz-border-radius:1em 1em 0em 0em;
	float:left;
}

#navi li.level1:hover, #navi li.level1_active {
	background-color:#7d5024;
}

#navi li.level1:hover a, #navi li.level1_active a {
	color:#f4e9d8;
}

#navi ul.submenu {
	margin-top:6%;
	list-style-type:none;
	padding-left:10%;
	display:none;
	z-index:5;
	border-radius:1em;
	-moz-border-radius:1em;
}

#navi ul.submenu li.level2 {
	margin-bottom:5%;
	color:#f4e9d8;
}

#navi ul.submenu li.level2:hover, #navi ul.submenu li.level2_active {
}

#navi li a {
	display:block;
	width:100%;
	height:100%;
	text-decoration:none;
	color:#7d5024;
}

#navi ul.submenu li.level2:hover a, #navi ul.submenu li.level2_active a {
	font-weight:bold;
	color:#f4e9d8;
}

ul#subnavi {
	width:13%;
	padding:2%;
	float:left;
	height:75%;
	margin-top:2em;
	background-color:#f6f6f6;
	list-style-type:none;
	z-index:1;
}

ul#breadcrumbs {
	list-style-type:none;
	background-color:#af8554;
	background-color:#7d5024;
	padding:0.3em 1em 0.3em 2em;
	color:#ffffff;
	clear:both;
	margin-top:2.4em;
}

ul#breadcrumbs li {
	display:inline;
}

ul#breadcrumbs li:after {
	content:" / ";
}

ul#breadcrumbs li.current {
	font-weight:bold;
	font-style:italic;
}

ul#breadcrumbs li.current:after {
	content:"";
}

ul#breadcrumbs li a:link {
	color:#ffffff;
	text-decoration:underline;
}

ul#breadcrumbs li a:visited {
	color:#ffffff;
	text-decoration:underline;
}

ul#breadcrumbs li a:hover {
	color:#ffffff;
	text-decoration:none;
}

ul#breadcrumbs li.current a:link {
	color:#ffffff;
	text-decoration:none;
}

ul#breadcrumbs li.current a:visited {
	color:#ffffff;
	text-decoration:none;
}

ul#breadcrumbs li.current a:hover {
	color:#ffffff;
	text-decoration:underline;
}

div#content {
	width:75%;
	height:75%;
	padding:2%;
	margin-left:20%;
	margin-top:2em;
	z-index:1;
}

p {
	margin-bottom:1em;
}

h2 {
	border-bottom:2px dashed #a0a0a0;
	margin-bottom:1em;
}

fieldset {
	width:60%;
	margin:0 auto;
	padding:2% 5%;
}

fieldset label {
	float:left;
	clear:both;
	margin-bottom:1em;
	width:30%;
}

fieldset input {
	float:right;
	width:45%;
	margin-right:20%;
}

fieldset input[type="submit"] {
	width:auto;
	clear:both;
	float:left;
	margin-left:34%;
}

table {
	margin-left:2em;
}

table caption {
	margin-bottom:0.5em;
}

table td {
	padding:0.2em;
}

table#zutatenliste {
	float:right;
}