* {
	margin:0;
	padding:0;
}

html, body {
	width:100%;
	height:100%;
	font-family:Verdana,sans-serif;
}

div#header {
	width:100%;
	height:10%;
	background-color:#008;
	color:white;
}

#header h1 {
	margin-left:2%;
	line-height:2em;
	font-family:"Trebuchet MS",sans-serif;
	font-style:italic;
}

ul#navi {
	width:18%;
	height:86%;
	padding-top:2%;
	float:left;
	background-color:#e5e5e5;
	padding-left:2%;
	list-style-type:none;
}

#navi li.level1 {
	padding:2%;
	width:80%;
	background-color:white;
	margin-bottom:4%;
	border:1px solid #e5e5e5;
}

#navi li.level1:hover, #navi li.level1_active {
	border:1px solid #080;
}

#navi ul.submenu {
	margin-top:6%;
	list-style-type:none;
	padding-left:10%;
	display:none;
}

#navi li.level1_active ul.submenu {
	display:block;
}

#navi ul.submenu li.level2 {
	margin-bottom:5%;
}

#navi ul.submenu li.level2:hover, #navi ul.submenu li.level2_active {
	font-style:italic;
}

#navi li a {
	display:block;
	width:100%;
	height:100%;
	text-decoration:none;
	color:#800;
}

#navi ul.submenu li.level2:hover a, #navi ul.submenu li.level2_active a {
	color:#080;
}


div#content {
	width:75%;
	height:80%;
	padding:2%;
	float:right;
}

p {
	margin-bottom:1em;
}

h2 {
	border-bottom:2px dashed #a0a0a0;
	margin-bottom:1em;
}

fieldset {
	width:60%;
	margin:0 auto;
	padding:2% 5%;
}

fieldset label {
	float:left;
	clear:both;
	margin-bottom:1em;
	width:30%;
}

fieldset input {
	float:right;
	width:45%;
	margin-right:20%;
}

fieldset input[type="submit"] {
	width:auto;
	clear:both;
	float:left;
	margin-left:34%;
}